In [1]:
import pandas as pd

In [4]:
sea_ice = "seaice.csv"
sea_ice_df = pd.read_csv(sea_ice)
sea_ice_df.head(10)

,Year,Month,Day,Extent,Missing,Source Data,hemisphere
0,1978,10,26,10.231,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
1,1978,10,28,10.420,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
2,1978,10,30,10.557,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
3,1978,11,1,10.670,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
4,1978,11,3,10.777,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
5,1978,11,5,10.968,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
6,1978,11,7,11.080,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
7,1978,11,9,11.189,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
8,1978,11,11,11.314,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
9,1978,11,13,11.460,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north

In [5]:
sea_level = "sealevel.csv"
sea_level_df = pd.read_csv(sea_level)
sea_level_df.head(10)

,Year,TotalWeightedObservations,GMSL_noGIA,StdDevGMSL_noGIA,SmoothedGSML_noGIA,GMSL_GIA,StdDevGMSL_GIA,SmoothedGSML_GIA,SmoothedGSML_GIA_sigremoved
0,1993,327401.31,-38.59,89.86,-38.76,-38.59,89.86,-38.75,-38.57
1,1993,324498.41,-41.97,90.86,-39.78,-41.97,90.86,-39.77,-39.11
2,1993,333018.19,-41.93,87.27,-39.62,-41.91,87.27,-39.61,-38.58
3,1993,297483.19,-42.67,90.75,-39.67,-42.65,90.74,-39.64,-38.34
4,1993,321635.81,-37.86,90.26,-38.75,-37.83,90.25,-38.72,-37.21
5,1993,291945.91,-36.09,89.99,-37.71,-36.05,89.99,-37.67,-35.98
6,1993,327830.00,-36.11,88.74,-36.85,-36.06,88.74,-36.81,-34.94
7,1993,326320.41,-35.52,89.49,-36.32,-35.47,89.49,-36.27,-34.19
8,1993,322331.00,-35.47,88.79,-36.11,-35.41,88.78,-36.05,-33.72
9,1993,331127.31,-39.25,98.10,-36.17,-39.19,98.09,-36.11,-33.48